*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	text-align: center;
	background-color: #1c1c1c;
}

canvas{
	background-color: #090;
	-webkit-transition: -webkit-transform 1s;
	box-shadow: 20px 20px 50px #1c1c1c;
}

canvas:hover{
	width: 101px;
	height: 101px;
}

#canvasDiv{
	margin: 150px auto 40px;
}

#reloadButton{
	text-decoration: none;
	color: white;
	text-shadow: 5px 5px 30px white;
	font: 50px verdana;
}

#reloadButton:hover{
	font: 60px verdana;
}