*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	text-align: center;
}

canvas{
	background-color: #090;
	/*border: 1px solid green;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;*/
}
#canvasDiv{
	margin: 150px auto 40px;
}